@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  margin: 30px auto;
  min-height: 300px;
  flex-direction: column;
  max-height: 1177px;
  margin-top: 0px;
  background-color: #fafbff;
}
